<div class='container'>
  <h1>Dashboard</h1>

  <div class='mb-5'>
    <h2 class='h3 fw-light'>Draft mixtapes</h2>
    <%= render 'mixtapes', mixtapes: @draft_mixtapes, label: 'Draft' %>
  </div>

  <div class='mb-5'>
    <h2 class='h3 fw-light'>Secret mixtapes</h2>
    <%= render 'mixtapes', mixtapes: @secret_mixtapes, label: 'Secret' %>
  </div>

  <div class='mb-5'>
    <h2 class='h3 fw-light'>Published mixtapes</h2>
    <%= render 'mixtapes', mixtapes: @published_mixtapes, label: 'Published' %>
  </div>

  <div class='mb-5'>
    <h2 class='h3 fw-light'>Archived mixtapes</h2>
    <%= render 'mixtapes', mixtapes: @archived_mixtapes, label: 'Archived' %>
  </div>
</div>
