<div class='container'>
  <h1 class='display-1'>Mixtape Club</h1>

  <p class='lead mb-0'>
    Mixtapes are for…
  </p>

  <ul class='list-unstyled'>
    <li>flirting with crushes</li>
    <li>threatening your nemeses</li>
    <li>flirting with your enemies</li>
    <li>crying over heartbreak</li>
    <li>learning about yourself</li>
    <li>driving through the desert</li>
    <li>capturing this one fleeting moment</li>
    <li>saying everything you don’t have the words for</li>
    <li>…</li>
  </ul>
</div>
