<% if resource.errors.any? %>
  <div class="alert alert-danger my-3 alert-dismissible fade show" role="alert">
    <ul class='m-0 list-unstyled'>
      <% resource.errors.full_messages.uniq.each do |message| %>
        <li><%= message %>.</li>
      <% end %>
    </ul>
  </div>
<% end %>
