<% label ||= nil %>
<% note  ||= nil %>

<div class='mb-3'>
  <%= form.submit (label || 'Save'),
                  class: 'btn btn-primary btn-lg' %>

  <% if note.present? %>
    <p class='form-text mb-3'>
      <%= note %>
    </p>
  <% end %>
</div>
