<div class='container my-5'>
  <h1>Privacy policy</h1>
  <h2>TODO!</h2>

  <div class='row'>
    <div class='col-12 col-md-8 col-xl-6'>
      <p>
        Sed ligula massa, vulputate a lacus non, interdum imperdiet magna. Proin ut
        quam vitae turpis sagittis maximus et at orci. Curabitur placerat arcu
        lobortis nulla posuere, id ultrices odio ultrices. Ut non diam eu ante
        consectetur ullamcorper at vel erat. Nulla tincidunt maximus diam, malesuada
        vehicula augue gravida at. Nam id consectetur augue, et placerat tellus. Orci
        varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus. Mauris ac lorem placerat, vehicula ante vel, tempus ipsum. Nunc iaculis
        pretium elit, ac lobortis sapien tincidunt vitae. Integer in iaculis odio.
        Nullam mauris justo, malesuada quis leo ultricies, ornare faucibus augue.
        Vestibulum hendrerit ante eu risus fermentum malesuada. Suspendisse potenti.
        Duis eu nisl ac massa ultricies vestibulum a et odio. Nam malesuada viverra
        lacus a iaculis. Sed rhoncus, massa id lobortis semper, sem lectus molestie
        felis, in ornare est sapien non ante.
      </p>

      <p>
        Suspendisse ultrices consequat lectus, et ultrices arcu malesuada eget. Sed
        pellentesque pharetra elementum. Aenean vitae lacus vitae leo interdum feugiat
        eget in lorem. Fusce placerat ut nunc sed efficitur. Fusce rutrum risus ac
        eros dictum, tincidunt tincidunt eros tempus. Proin varius ligula id pretium
        condimentum. Phasellus vehicula diam a risus sagittis pellentesque. Cras
        aliquet tristique lorem non molestie.
      </p>

      <p>
        Fusce bibendum libero eu neque vulputate sodales. Cras eu quam egestas,
        molestie sapien eu, euismod enim. Aenean rutrum pulvinar leo, eu vestibulum
        nisl interdum non. Praesent quis lectus eros. Duis pharetra molestie
        vestibulum. Aenean fringilla, ex at hendrerit vehicula, neque nisl lacinia
        ligula, eget rutrum tortor urna quis dolor. Etiam ultrices dui urna, in
        pharetra tellus mollis nec. Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos himenaeos. Nam metus massa, ornare eu erat
        in, imperdiet pulvinar eros. In ornare tincidunt posuere. In non magna dui.
        Pellentesque porta ipsum nec eros pharetra fringilla.
      </p>

      <p>
        Phasellus ligula lorem, consectetur a magna a, maximus pulvinar mauris. Mauris
        dignissim eros sit amet interdum aliquam. Morbi ex ligula, finibus non varius
        id, egestas id sem. Nunc quis dapibus risus, ut lobortis dui. Mauris posuere
        purus in varius bibendum. Praesent venenatis egestas felis, sit amet varius
        diam ultricies a. Aliquam blandit risus vel odio viverra, at consequat ante.
      </p>

      <p>
        Maecenas semper dui eu placerat commodo. Phasellus commodo magna rhoncus sem
        luctus, at feugiat ante gravida. Mauris vulputate dui et suscipit ultricies.
        Vestibulum tristique consectetur tellus, et scelerisque nisi auctor sit amet.
        Curabitur aliquet tristique massa, et vehicula purus vestibulum a. Ut in
        congue nisi, et vestibulum nibh. Nulla id nulla aliquam, consequat risus
        suscipit, interdum nisl. Fusce lacinia eleifend sem, ac condimentum quam
        dictum id. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Proin faucibus varius ex non feugiat. Cras volutpat
        feugiat sem, quis placerat nisi auctor non.
      </p>
    </div>
  </div>
</div>
