<div class='container my-5'>
  <h1>Terms and conditions</h1>
  <h2>TODO!</h2>

  <div class='row'>
    <div class='col-12 col-md-8 col-xl-6'>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan porta
        lorem nec rhoncus. Etiam fringilla ex in nisi mattis pretium. Vestibulum
        lacinia sed eros eu rhoncus. Duis vitae nisl tincidunt, auctor eros in,
        tincidunt dolor. Duis blandit ipsum non nulla tempus, vitae ultricies metus
        vestibulum. Fusce fermentum turpis ac ultricies euismod. Donec at lobortis
        metus. Vivamus varius pulvinar urna, a posuere est vestibulum elementum.
        Pellentesque faucibus condimentum ultricies.
      </p>

      <p>
        Sed tristique pulvinar diam, dictum hendrerit ante iaculis in. Ut sed tortor
        risus. Duis condimentum felis id eleifend molestie. Morbi egestas ex ac
        aliquam rhoncus. Sed pellentesque neque nec ex eleifend imperdiet. Integer non
        convallis sem. Vestibulum faucibus tellus ut lectus egestas efficitur. Integer
        iaculis sem in augue varius eleifend sed quis libero. Aliquam elementum vel
        diam eu ornare. Praesent sed viverra dui. Aenean eget ligula eros. Aliquam ac
        auctor lacus, vitae dapibus risus. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Donec rhoncus metus eget dapibus
        placerat. Vestibulum vel dui in tortor rhoncus vestibulum vel et metus.
        Curabitur eleifend ex sed luctus venenatis.
      </p>

      <p>
        Donec quam tortor, sodales eu commodo at, euismod quis nibh. Fusce luctus
        placerat libero sodales efficitur. Pellentesque fermentum felis a elit
        ullamcorper ultricies. Morbi quis facilisis dui. Maecenas vel diam ultricies,
        ullamcorper purus non, ultrices sem. Nunc justo diam, porttitor sit amet
        efficitur sit amet, rhoncus in neque. Aenean volutpat, purus eget finibus
        efficitur, nisi libero tincidunt mauris, nec tincidunt nulla risus vel risus.
        Etiam quis sem ut eros efficitur sagittis.
      </p>

      <p>
        Mauris leo diam, convallis a elit at, fermentum iaculis nibh. Praesent et
        consectetur justo. Quisque nec venenatis lorem. Etiam ac purus tellus. Donec
        neque dolor, porttitor a elementum eu, pulvinar et neque. Nulla metus diam,
        ornare sed rutrum id, sollicitudin pharetra sem. In orci nunc, tincidunt id
        mauris ac, cursus sagittis est. Sed dignissim augue ut felis interdum, a
        laoreet eros convallis. Maecenas vitae diam gravida, venenatis nibh nec,
        bibendum eros. Nullam libero augue, tincidunt a diam sed, tempus pretium.
      </p>

      <p>
        Praesent sit amet arcu sodales, consequat nibh sit amet, vulputate enim. Morbi
        ut finibus odio. Nulla sagittis, quam ac dapibus congue, sapien tellus finibus
        leo, eu iaculis mi magna eget libero. Aenean scelerisque ligula nisl, et
        vehicula ex viverra id. Fusce et purus in massa eleifend vulputate. Nunc vitae
        lacus et nisi egestas luctus. Praesent feugiat dui eget ultricies commodo.
        Nunc tristique sem et sagittis porttitor. Phasellus ultrices arcu a tortor
        lobortis pellentesque. Duis ac aliquet odio, quis viverra purus. Mauris vitae
        mi neque. Suspendisse ac leo vitae ligula viverra luctus at sit amet dolor.
        Aliquam enim mi, gravida ut tortor eu, convallis tincidunt nulla.
      </p>
    </div>
  </div>
</div>
