.tilted-1  { transform: rotate(-1.75deg); }
.tilted-2  { transform: rotate(-1.5deg);  }
.tilted-3  { transform: rotate(-1.25deg); }
.tilted-4  { transform: rotate(-1deg);    }
.tilted-5  { transform: rotate(-.75deg);  }
.tilted-6  { transform: rotate(-.5deg);   }
.tilted-7  { transform: rotate(-.25deg);  }
.tilted-8  { transform: rotate(.25deg);   }
.tilted-9  { transform: rotate(.5deg);    }
.tilted-10 { transform: rotate(.75deg);   }
.tilted-11 { transform: rotate(1deg);     }
.tilted-12 { transform: rotate(1.25deg);  }
.tilted-13 { transform: rotate(1.5deg);   }
.tilted-14 { transform: rotate(1.75deg);  }
