<div class='container my-5'>
  <footer class='py-5 text-secondary row'>
    <div class='col-12 col-md-8'>
      <p>
        Made with
        <%= bootstrap_icon 'arrow-through-heart-fill', width: 24, height: 24, fill: :gray %>
        in Southern California
      </p>
    </div>

    <div class='col-12 col-md-4 text-end'>
      <ul class='list-inline'>
        <li class='list-inline-item'><%= link_to 'Terms',   :terms,   class: 'text-secondary' %></li>
        <li class='list-inline-item'><%= link_to 'Privacy', :privacy, class: 'text-secondary' %></li>
      </ul>

      <ul class='list-inline'>
        <% if Current.user %>
          <li class='list-inline-item'><%= link_to 'Sign out', :destroy_user_session, class: 'text-secondary' %></li>
        <% end %>
      </ul>
    </div>
  </footer>
</div>
